{% extends 'base.html' %} {% block body %}
<div id="content">
  <header>
    <h1 id="logo">tempus.</h1>
    <h2 id="top-bar"></h2>
    <h1 id="clock">Loading...</h1>
    <h1 id="todo-label">To-do</h1>
  </header>
  <input type="text" placeholder="Add task" id="task-input" />
  <button id="add-task">+</button>

  <div id="todo-list">
    <nav id="todo-list-scrollbar">
      <ul id="todo-items" style="display: inline"></ul>
      <ul id="done-items"></ul>
    </nav>
  </div>

  <button id="show-finished"></button>

  <button id="color-theme-button">🎨</button>
  <div id="color-bar">
    <div id="color-bar-content">
      <button type="button" class="color-themes" id="cFF9999"></button>
      <button type="button" class="color-themes" id="cFFCF87"></button>
      <button type="button" class="color-themes" id="c99DA83"></button>
      <button type="button" class="color-themes" id="c93D7E6"></button>
      <button type="button" class="color-themes" id="cC8A8F2"></button>
      <button type="button" class="color-themes" id="c505050"></button>
    </div>
  </div>
  <!-- Learning process. I'm actually hella proud of this right now -->
  {% endblock body %}
</div>
